﻿@model BussinessObjects.LoginFormDetails

@{
    ViewBag.Title = "StudentLoginForm";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

@*<h2>Login</h2>*@
<style>
    .a1 {
        margin-right: 20px;
        float: left;
    }

    .a2 {
        margin-left: 20px;
    }
</style>


@using (Html.BeginForm())
{

    @*<div class="form-horizontal">
        <h4>Student Login Form</h4>*@
    <div class="container" style="width:40%;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Login Form</h3>
            </div>
            <div class="panel-body">
                <form id="form1" runat="server">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserType, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="form-group col-md-10 col-sm-10">
                            @Html.DropDownListFor(model => model.UserType, new SelectList(ViewBag.list, "loginid", "logintype"), "Select User Type Login", new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.UserType, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="form-group col-md-10 col-sm-10">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="form-group col-md-10 col-sm-10">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10" align="center" style="top:10px">
                            <a class="a1">@Html.ActionLink("Forgot Password", "Login")</a>
                            <a class="a2">@Html.ActionLink("New User", "StudentRegistration")</a><br />
                            <input type="submit" value="Login" class="btn btn-success" />
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                swal("@ViewBag.Message");
            };
    </script>
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>













































@*@Html.DropDownList("UserType", new List<SelectListItem> {
    new SelectListItem {Text="Normal Student", Value="0" },
    new SelectListItem { Text="Admin", Value="1"} }, "Select User Type Login", new { @class = "form-control input-sm" })*@