﻿@model BussinessObjects.StudentRegistrationModel

@{
    ViewBag.Title = "StudentRegistration";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    .container {
        padding: 10px;
        background-color: white;
        box-sizing: border-box;
        border-radius: 40px;
        margin: 30px 0 0 130px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    }
</style>

<h2>StudentRegistration</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    
    <div class="panel-heading">
        <center><h3 class="panel-titel">Student Registration Form</h3></center>
    </div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, "First Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-group col-md-4 col-sm-4">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, "Last Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-group col-md-4 col-sm-4">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UserName, "User Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-group col-md-4 col-sm-4">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-group col-md-4 col-sm-4">
            @Html.PasswordFor(model => model.Password, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPasswords, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-group col-md-4 col-sm-4">
            @Html.PasswordFor(model => model.ConfirmPasswords, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPasswords, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmailId, "Email Address", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-group col-md-4 col-sm-4">
            @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-group col-md-4 col-sm-4">
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-group col-md-4 col-sm-4">
            @*@Html.DropDownListFor(model => model.Gender, new SelectList(ViewBag.genderlist, "genderID", "genderName"), "Select Gender", new { @class = "form-control input-sm" })*@
            @Html.EnumDropDownListFor(model=>model.Gender, "Select Gender", new { @class = "form-control input-sm" })
            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CourseId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-group col-md-4 col-sm-4">
           @* @Html.DropDownListFor(model => model.CourseId, new SelectList(ViewBag.courselist, "courseId", "courseName"), "Select Course", new { @class = "form-control input-sm" })*@
            @Html.EnumDropDownListFor(model=>model.CourseId, "Select Course", new { @class = "form-control input-sm" })
            @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.InchargeId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-group col-md-4 col-sm-4">
           @* @Html.DropDownListFor(model => model.InchargeId, new SelectList(ViewBag.inchargelist, "inchargeId", "inchargeName"), "Select Incharge", new { @class = "form-control input-sm" })*@
            @Html.EnumDropDownListFor(model=>model.InchargeId, "Select Incharge", new { @class = "form-control input-sm" })
            @Html.ValidationMessageFor(model => model.InchargeId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-group col-md-4 col-sm-4">
            @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DOJ, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-group col-md-4 col-sm-4">
            @Html.EditorFor(model => model.DOJ, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DOJ, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Fee, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-group col-md-4 col-sm-4">
            @Html.EditorFor(model => model.Fee, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Fee, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HomeTown, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-group col-md-4 col-sm-4">
            @Html.EditorFor(model => model.HomeTown, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HomeTown, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-group col-md-4 col-sm-4">
            @Html.TextAreaFor(model => model.Address, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-group col-md-4 col-sm-4">
            @Html.DropDownListFor(model => model.IsAdmin, new SelectList(ViewBag.list, "loginid", "logintype"), "Select Student Type ", new { @class = "form-control input-sm" })
            @Html.ValidationMessageFor(model => model.IsAdmin, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-10">
            <input type="reset" value="Clear" class="btn btn-primary" />
            <input type="submit" value="Submit" class="btn btn-success" />
        </div>
    </div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                swal("@ViewBag.Message");
            };
    </script>
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>






















































@*Html.RadioButtonFor(model => model.IsAdmin, "NormalStudent", true)@Html.Label("Normal Student")
    Html.RadioButtonFor(model => model.IsAdmin, "Admin", true)@Html.Label("Admin")-->
    <label>@Html.RadioButton("Normal student", 0,false)Normal student</label><br />
        <label>@Html.RadioButton("Admin", 1,false)Admin</label>
    Html.EditorFor(model => model.IsAdmin, new { htmlAttributes = new { @class = "form-control" } }*@


@*@Html.DropDownList("Gender", new List<SelectListItem>
    { new SelectListItem { Text="Male"},new SelectListItem{Text="Female" },new SelectListItem{Text="Others" }}, "Select Gender", new { @class = "form-control input-sm" })*@

@*@Html.DropDownList("CourseId", new List<SelectListItem>
    {new SelectListItem{Text="CSE",Value="101"},new SelectListItem{Text="ECE",Value="102"},new SelectListItem{Text="EEE",Value="105"},
     new SelectListItem{Text="IT",Value="104"},new SelectListItem{Text="MECH",Value="103"},new SelectListItem{Text="CIVIL",Value="106"},
     new SelectListItem{Text="Others",Value="107"}}, "Select Branch", new { @class = "form-control input-sm" })*@

@*@Html.*@@*DropDownList("InchargeId", new List<SelectListItem>
    {new SelectListItem{Text="CSE_1",Value="1"},new SelectListItem{Text="ECE_2",Value="4"},new SelectListItem{Text="EEE_3",Value="5"},
     new SelectListItem{Text="IT_4",Value="3"},new SelectListItem{Text="MECH_5",Value="2"},new SelectListItem{Text="CIVIL_6",Value="6"},
     new SelectListItem{Text="Others_7",Value="7"}}, "Select Incharge", new { @class = "form-control input-sm" })*@
