﻿body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 200px;
    padding-right: 200px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    display: flex;
    position: relative;
    flex-direction: row;
}
.container {
    padding: 10px;
    margin-top: 10%;
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    width: 50%;
}

